#para{
font-size: 29px;
color: #df1235;
font-weight: 120;
text-align: center;
line-height: 45px;
font-style:italic;
font-family:cursive;
text-transform:capitalize;
/* text-decoration:underline; */
/* text-decoration:dashed; */
/* text-transform: uppercase; */
}

/* a{
    text-decoration:none;

} */