#Ram{
    height: 70vh;
    width:70vw;
    background-image: url("https://media.istockphoto.cm/photos/programming-source-code-on-digital-screen-software-developer-and-picture-id1336271758?s=612x612");
    /* background-repeat: no-repeat; */

}